<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> bootstrapLink}}
    <title>Document</title>
</head>
<body>
    {{> header}}

    {{> pokemon}}

    {{> bootstrapScript}}
</body>
</html>